#ABC{
	font-size: 30px;
	font-family: cursive;
}

#ABCD{
	font-size: 100px;
	font-family: cursive;
}
p{
	font-family: cursive;
	font-size: 30px;
}
div{
	background-color: red:;
	width: 199px;
	height: 199px;
}

input[type]{
	font-size: 29px;
	
	color: yellowgreen;
}